

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Mask Detection</title>
  </head>
  <body>
    <!-- Hidden/opened left side bar menu -->
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <!-- Upload webcam button -->
      <form action="{{url_for('webcam')}}" mothod="POST">
        <div class="button">
          <input type="submit" value="Load Webcam" onclick="redirectStreamPage('device', null)">
        </div>
      </form>
      <!-- Menu links to other pages -->
      <a class="nav-item nav-link" href="{{url_for('home')}}">Machine Learning</a>
      <a class="nav-item nav-link" href="{{url_for('home')}}">Statistics</a>
    </div>
    <div id="main">
      <!-- Top menu bar -->
      <div class="topnav">
        <button class="openbtn" onclick="openNav()">☰</button>
        <a class="active" href="/">Mask Recognition</a>
      </div>
      <p></p>
      <!-- Video players go here -->
      {% block content %}{% endblock %}
    </div>
    <script src="../static/nav.js"></script>
    <main role="main" class="container">
      <div>
      </div>
    </main>
  </body>
</html>


